.footer{
    background-color: #b8b8b8;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}