.product {
    border: 1px solid #ccc;
    width: 250px;
    border-radius: 8px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    height: 100%; /* Ocupa toda la altura disponible */
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover; /* Para que las imágenes mantengan su proporción */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product h3 {
    color: #333;
    font-size: 1.2rem;
    padding: 10px;
    margin: 0; /* Elimina cualquier margen por defecto */
    flex-grow: 1; /* Hace que el título ocupe el espacio restante */
}